:root{
  --main-bg-color: #FFF;
  --text-color: #212529;
  --box-bg-color: #e9ecef;
  --sidebar-bg-color: #f7f7f7;
  --input-bg-color: #FFF;
  --border-color: #ececec;
  --navbar-bg-color: #f1f1f1;
  --button-color: #888;
  --link-color: #3282b8;
}

body.dark{
  --main-bg-color: #282c35;
  --text-color: #FFF;
  --box-bg-color: #333;
  --sidebar-bg-color: #444;
  --input-bg-color: #777;
  --border-color: #555;
  --navbar-bg-color: #111;
  --button-color: #FFF;
  --link-color: #46b5d1;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  transition: background .5s ease-out;
}

/**
* Misc
*/
a{ color: var(--link-color); }
a:hover{ text-decoration: none; }
.main-navbar .navbar-nav a.nav-link{ color: var(--link-color) !important; }
.main-navbar .navbar-nav a.nav-link:hover{ opacity: .7; }
button.btn-primary{ background-color: var(--link-color); border-color: var(--link-color); }

.main-navbar{ background-color: var(--navbar-bg-color); box-shadow: 0 1px 4px 0 hsla(0, 0%, 0%, 0.2); z-index: 9999; }
.main-navbar .navbar-brand, .main-navbar .navbar-text{ color: var(--text-color); }
.main-navbar .navbar-brand:hover{ color: var(--text-color); opacity: .7; }
.main-navbar .navbar-text a{ color: var(--text-color) !important; opacity: .7; }
.main-navbar .navbar-text a:hover{ opacity: .9; }
.main-navbar .btn-outline-light{ color: var(--button-color); border-color: var(--button-color); }

.contentarea{ min-height: 300px; }
.form-control{ background-color: var(--input-bg-color); }
