:root{
  --main-bg-color: #FFF;
  --text-color: #212529;
  --secondary-color: #f7f7f7;
  --link-color: #FFF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

/**
* Misc
*/
.contentarea{ min-height: 300px; }
.logout-btn{ padding: 2px 5px; }


/**
* Media Queries
*/
@media (max-width: 425px){
  .navbar{ flex-direction: column; }
  .navbar > a{ text-align: center; }
  .container-fluid{ margin-left: 40px; padding-left: 15px; }
}